cmake==3.26.3
datasets==2.12.0
httpcore==1.0.2
httpx==0.25.2
nltk==3.8.1
numpy==1.24.3
openai==0.28.0
pandas==2.0.1
pyarrow==11.0.0
requests==2.29.0
responses==0.18.0
rouge==1.0.0
rouge-score==0.1.2
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.96
sentence-transformers==2.4.0
tokenizers==0.15.2
torch==2.0.1
torchmetrics==0.11.4
torchvision==0.15.2
tqdm==4.65.0
transformers==4.38.1
